.movieImg {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 12px;
}

.detailPage {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}