.searchComponent {
    width: 20%;
    height: 3vh;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.searchComponent button {
    background: transparent;
    border: none;
    border-left: 1px solid gray;
    outline: none;
    padding: 0 10px;
    cursor: pointer;
    color: white;
}

.searchComponent input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: rgb(54, 50, 50);
    color: white;   
}

.searchComponent input::placeholder {
    color: #aaaaaa;
}